<div class="header-parent">
    <div class="div1">
        <picture>
            <source [srcset]="logoImg()" media="(max-width: 600px)">
            <img src="assets/icons/logo-dark.svg" alt="Kanban Task Management">
        </picture>
    </div>
    <div class="div2">
        <h1>board name</h1>
        <div class="actions">
            <button (click)="openDialog()" class="btn-primary btn btn-lg">
                <mat-icon class="add-icon">
                    <svg width="12" height="12" 
                      xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z"/>
                  </svg>
                </mat-icon>
                  Create New Task
            </button>
            <mat-icon  (click)="toggleMenu()" id="toggleModal">more_vert</mat-icon>
            <div class="modal" [class]="dataService.showDropdown ? 'show':'hide'">
                <span class="edit" (click)="openDialog(dataService.selectedBoard.getValue()!)">Edit Board</span>
                <span class="delete" (click)="deleteBoard()">Delete Board</span>
            </div>
        </div>
    </div>
</div>
