<form [formGroup]="taskForm" (ngSubmit)="createTask()"
class="modal-container">
  <div class="modal-form-container" [class]="dataService.checked?'dark-theme':'light-theme'">
    <h2>Add New Task</h2>
    <div class="form-input-group">
      <label class="input-group-label" for="title">Title</label>
      <input class="input-text" id="title" formControlName="title"/>
      @if (taskForm.get('title')?.errors && taskForm.get('title')?.touched) {
        <span class="input-validation-error">can't be empty</span>
      }
    </div>
    <div class="form-input-group">
      <label class="input-group-label" for="description">Description</label>
      <textarea id="description" rows="4" formControlName="description"></textarea>
    </div>
    
    <div class="columns" formArrayName="subtasks">
      <label for="columnName" class="input-group-label">Subtasks</label>
      <div class="column-list">
        @for (subtask of subtasks.controls; track $index) {
            <div class="column-input-group" [formGroupName]="$index">
              <div class="input">
                <input id="subtask-title" formControlName="title"/>
                @if (dataService.isFieldInvalid($index, subtasks, 'title')) {
                  <span class="input-validation-error">can't be empty</span>
                }
              </div>
              <span><img (click)="removeSubtask($index)" src="assets/icons/icon-cross.svg" alt="" srcset=""></span>
            </div>
          }
          <button class="btn btn-sm btn-secondary" type="button" (click)="addSubtask()">+ Add New Subtask</button>
      </div>
    </div>
      
    <label for="status">Status</label>
      <mat-form-field panelClass="custom-select-panel" appearance="outline">
        <mat-select formControlName="status">
          @for (column of (dataService.selectedBoard | async)?.columns; track $index) {
              <mat-option [value]="column.id">{{ column.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    <button class="btn btn-sm btn-primary" type="submit">{{edit? 'Save Changes':'Create Task'}}</button>
  </div>
  
  @if (!formValid) {
    <span class="input-validation-error">please fill all required fields</span>
  }
</form>