<div appModal [class]="dataService.checked?'dark-theme':'light-theme'" class="parent">
  <div class="header">
      <app-header/>
  </div>
  <div class="content">
    <mat-drawer-container class="example-container" hasBackdrop="false">
      <mat-drawer #drawer [(opened)]="dataService.sidebarState" mode="side" opened="true">
        <app-sidebar/>     
      </mat-drawer>
      <mat-drawer-content class="content-container">
        <button [class]="drawer.opened ? 'hide':'show'" mat-raised-button class="main-toggler" (click)="drawer.toggle()">
          <mat-icon>visibility</mat-icon>
        </button>
        <router-outlet />
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  </div>
