<div appModal [class]="checked?'dark-theme':'light-theme'" class="parent">
  <div class="header">
      <app-header/>
  </div>
  <div class="content">
    <mat-drawer-container class="example-container" hasBackdrop="false">
      <mat-drawer #drawer mode="side" opened="true">
        <div class="sidenav">
          <mat-list>
            <div class="list-header" mat-subheader>ALL BOARDS ({{(store.select(allStoreBoards) | async)?.length}})</div>
            @for (board of store.select(allStoreBoards) | async; track board) {
              <mat-list-item 
              [class]="(store.select(selectedBoard) | async) === board? 'active':'inactive'"
              (click)="selectBoard(board)" 
              class="board-list-item">
                <mat-icon matListItemIcon>
                  <svg width="16" height="16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2.889A2.889 2.889 0 0 1 2.889 0H13.11A2.889 2.889 0 0 1 16 2.889V13.11A2.888 2.888 0 0 1 13.111 16H2.89A2.889 2.889 0 0 1 0 13.111V2.89Zm1.333 5.555v4.667c0 .859.697 1.556 1.556 1.556h6.889V8.444H1.333Zm8.445-1.333V1.333h-6.89A1.556 1.556 0 0 0 1.334 2.89V7.11h8.445Zm4.889-1.333H11.11v4.444h3.556V5.778Zm0 5.778H11.11v3.11h2a1.556 1.556 0 0 0 1.556-1.555v-1.555Zm0-7.112V2.89a1.555 1.555 0 0 0-1.556-1.556h-2v3.111h3.556Z"/>
                  </svg>
                </mat-icon>
                <div matListItemTitle >{{board.name}}</div>
              </mat-list-item>
            }
            <mat-list-item class="create-board-list-item">
              <mat-icon matListItemIcon>
                <svg width="16" height="16" 
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 2.889A2.889 2.889 0 0 1 2.889 0H13.11A2.889 2.889 0 0 1 16 2.889V13.11A2.888 2.888 0 0 1 13.111 16H2.89A2.889 2.889 0 0 1 0 13.111V2.89Zm1.333 5.555v4.667c0 .859.697 1.556 1.556 1.556h6.889V8.444H1.333Zm8.445-1.333V1.333h-6.89A1.556 1.556 0 0 0 1.334 2.89V7.11h8.445Zm4.889-1.333H11.11v4.444h3.556V5.778Zm0 5.778H11.11v3.11h2a1.556 1.556 0 0 0 1.556-1.555v-1.555Zm0-7.112V2.89a1.555 1.555 0 0 0-1.556-1.556h-2v3.111h3.556Z"/>
                </svg>
              </mat-icon>
              <div (click)="openDialog()"  matListItemTitle class="create-board-container">
                <mat-icon class="add-icon">
                  <svg width="12" height="12" 
                    xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z"/>
                </svg>
                </mat-icon>
                Create New Board
              </div>
            </mat-list-item>
          </mat-list>
          <div class="sidenav-footer">
            <div class="theme">
              <img src="../assets/icons/icon-dark-theme.svg" alt="dark-mode icon">
              <div (click)="toggleTheme()" class="theme-toggler">
                <div class="toggler"></div>
            </div>
              <img src="../assets/icons/icon-light-theme.svg" alt="dark-mode icon">
            </div>
            <div class="toggle-sidebar">
              <mat-icon>visibility_off</mat-icon>
              <span (click)="drawer.toggle()">Hide Sidebar</span>
            </div>
          </div>
        </div>        
      </mat-drawer>
      <mat-drawer-content class="content-container">
        <button [class]="drawer.opened ? 'hide':'show'" mat-raised-button class="main-toggler" (click)="drawer.toggle()">
          <mat-icon>visibility</mat-icon>
        </button>
        <router-outlet />
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  </div>
